<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @endroit.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @endroit.url %>
</p>

<%= link_to 'Edit', edit_endroit_path(@endroit) %> |
<%= link_to 'Back', endroits_path %>
